<%- include("./partials/header") %>

<h1>singnup</h1>


<form action="/register" method="POST">
<input type="text" name="username" id="username">
<input type="password" name="password" id="password">
<button>Submit</button>
</form>

<%- include("./partials/footer") %>